/* input css */
.input-ele {
    height: 50px;

    display: flex;
    flex-direction: row;

    /* border: 2px solid black; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
}

.enter-number-ele,
.enter-name-ele,
.enter-expiry-ele,
.enter-background-ele,
.enter-cvv-ele {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */
}

#enter-number-title,
#enter-name-title,
#enter-expiry-title,
#enter-background-title,
#enter-cvv-title {
    width: 30%;
    justify-content: start;
}

#enter-number-field,
#enter-name-field,
#enter-expiry-field,
#enter-cvv-field {
    flex-grow: 2;

    font-weight: 400;
}

#enter-number-button,
#enter-name-button,
#enter-expiry-button,
#enter-cvv-button {
    width: 15%;
}

.input button,
.input button,
.input button,
.input button {
    height: 80%;
    background-color: #946f5a;
    border: 0px;
    box-shadow: inset 0px 0px 30px -10px rgba(0,0,0, .5);
}

.input button:active,
.input button:active,
.input button:active,
.input button:active {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0, .5);
}

#enter-background-title {
    width: 40%;
}

/* individual css */
#enter-number-field form,
#enter-name-field form,
#enter-expiry-field form,
#enter-cvv-field form {
    width: calc(100% - 10px);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#enter-number-field input,
#enter-name-field input,
#enter-expiry-field input,
#enter-cvv-field input {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.enter-button-div{
    width: 100%;
    height: 20%;

    margin-top: 30px;
    padding: 30px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-button-div button{
    width: 100%;
    height: 100%;

    border-radius: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.enter-button-div a{
    width: 40%;
    height: 60%;

    margin-left: 30px;
}